<% title = 'Error - Photo Caption Contest' %>

<div class="error-page">
    <h2>Oops! Something went wrong</h2>
    <p class="error-message"><%= message %></p>
    <a href="/" class="button">Go back home</a>
</div>
